<p id="notice"><%= notice %></p>

<div class="banner">

  <div class="banner-container">
    <div class="tagline">
        YOUR TURN TO EARN
    </div>
    <div class="sub-tagline">
        Rent out your tools for passive income or rent tools to avoid having to purchase.
    </div>
        <div class="sign-up-buttons">
          <button type="button" class="sign-in-button-container1 btn btn-danger btn-lg">  
                <% if current_user.present? %>
                    <%= link_to 'List a Tool', new_tool_path, :method => :delete %>
                <% else %>
                    <%= link_to 'Sign In Now!', new_user_session_path %>
                
         </button>
         <button type="button" class="sign-in-button-container2 btn btn-default btn-lg">
               <%= link_to 'Register Now!', new_user_registration_path %>
               <% end %>
         </button>
        </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="index-container">
    <h1>Listing Tools</h1>

    <div>
        <% @tools.each do |tool| %>
            <div>Name:</div> 
            <div><%= tool.name %></div> </br>
            <div><%= image_tag tool.tool_image.url(:medium) %></div>
            <div>Description:<div> 
            <div><%= tool.description %></div> </br>
            <div><%= link_to 'Show', tool_path(tool) %></div>
            <div><%= link_to 'Edit', edit_tool_path(tool) %></div>
            <div><%= link_to 'Delete', tool_path(tool), method: :delete, data: { confirm: 'Are you sure?' } %></div> </br>
        <% end %>
    </div>

    <br>

    <%= link_to 'New Tool', new_tool_path %>

    </div>

  </div>
</div>




