This is the individual user page

<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">

    <div class="index-container">
    <h1>Listing Tools</h1>
This is the individual user page
    <div>
        <% @tools.each do |tool| %>
            <div>Name:</div> 
            <div><%= tool.name %></div> </br>
            <p>
  				<strong>Image:</strong>
  				<%= image_tag tool.tool_image.url(:medium) %>
			</p>
            <div>Description:<div> 
            <div><%= tool.description %></div> </br>
            <div><%= link_to 'Show', tool_path(tool) %></div>
            <div><%= link_to 'Edit', edit_tool_path(tool) %></div>
            <div><%= link_to 'Delete', tool_path(tool), method: :delete, data: { confirm: 'Are you sure?' } %></div> </br>
        <% end %>
    </div>

    <br>

    <%= link_to 'New Tool', new_tool_path %>

    </div>

  </div>
</div>

