<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tool.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @tool.tool_image.url(:medium) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tool.description %>
</p>

<%= link_to 'Rent This Item', new_tool_charge_path(@tool) %> |

<%= link_to 'Edit', edit_tool_path(@tool) %> |
<%= link_to 'Back', tools_path %>
