<p id="notice"><%= notice %></p>

<!-- banner section -->
<div class="banner">

  <div class="banner-container">
    <div class="tagline">
        YOUR TURN TO EARN
    </div>
    <div class="sub-tagline">
        Rent out your tools for passive income or rent tools to avoid having to purchase.
    </div>
        <div class="sign-up-buttons">
          <button type="button" class="sign-in-button-container1 btn btn-danger btn-lg">  
                <% if current_user.present? %>
                    <%= link_to 'List a Tool', new_tool_path %>
                <% else %>
                    <%= link_to 'Sign In Now!', new_user_session_path %>
                
         </button>
         <button type="button" class="sign-in-button-container2 btn btn-default btn-lg">
               <%= link_to 'Register Now!', new_user_registration_path %>
               <% end %>
         </button>
        </div>
  </div>
</div>

<!-- highlighted tools section -->

<div class="container-fluid" id="home-tool-wrapper">

  <div class="home-heading">
    <h3>Whats Popular</h3>
  </div>

  <div class="home-tools">

    <div class="row home-tool-row">

      <div class="col-md-4">
        <div class="home-tool-container">
            <% tool1 = @tools.sample %>
            <div class="home-tool-image">
              <%= image_tag tool1.tool_image.url(:medium) %>
            </div>
            <%= tool1.name %>
            <%= tool1.description %>
          </br>
        </div>
      </div>  

      <div class="col-md-4">
          <div class="home-tool-container">
              <% tool2 = @tools.sample %>
              <div class="home-tool-image">
                <%= image_tag tool2.tool_image.url(:medium) %>
              </div>
              <%= tool2.name %>
              <%= tool2.description %>
            </br>
          </div>
        </div> 

      <div class="col-md-4">
        <div class="home-tool-container">
            <% tool3 = @tools.sample %>
            <div class="home-tool-image">
              <%= image_tag tool3.tool_image.url(:medium) %>
            </div>
            <%= tool3.name %>
            <%= tool3.description %>
          </br>
       </div>
      </div>                        

    </div>

  <!--second highlighted tools row-->

    <div class="row home-tool-row">

      <div class="col-md-4">
        <div class="home-tool-container">
            <% tool4 = @tools.sample %>
            <div class="home-tool-image">
              <%= image_tag tool4.tool_image.url(:medium) %>
            </div>
            <%= tool4.name %>
            <%= tool4.description %>
        </div>
      </div>  

      <div class="col-md-4">
          <div class="home-tool-container">
              <% tool5 = @tools.sample %>
              <div class="home-tool-image">
                <%= image_tag tool5.tool_image.url(:medium) %>
              </div>
              <%= tool5.name %>
              <%= tool5.description %>
          </div>
        </div> 

      <div class="col-md-4">
        <div class="home-tool-container">
            <% tool6 = @tools.sample %>
            <div class="home-tool-image">
              <%= image_tag tool6.tool_image.url(:medium) %>
            </div>
            <%= tool6.name %>
            <%= tool6.description %>
          </br>
       </div>
      </div>

    </div>

  </div>
</div>


