<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand">Toolmash</a>
    </div>
    
    <div class="navbar-container-right">
      
      <ul class="nav nav-pills navbar-right">
           <%= form_tag tools_path, class: 'navbar-form navbar-left', role: 'search', :method => 'get' do %>
                <div class="form-group">
                  <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: "Search Tools" %>
                  <%= button_tag "Submit", class: 'btn btn-default', :name => nil %>
                </div>
            <% end %>
        <li>
          <%= link_to 'Home', root_path %>
        </li>
        <li>
          <%= link_to 'About', '#' %>
        </li>
        <li>
          <%= link_to 'Contact', '#' %>
        </li>
        <li>
          <%= link_to 'Manage', manage_tools_path %>
        </li>
        <li>  
            <% if current_user.present? %>
                <%= link_to 'Sign Out',destroy_user_session_path, :method => :delete %>
            <% else %>
                <%= link_to 'Sign In', new_user_session_path %>
        </li>
        <li>
                <%= link_to 'Register Now!', new_user_registration_path %>
            <% end %>
        </li>
        
      </ul>

    </div>
  </div><!-- /.container-fluid -->
</nav>